

 <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt="">
        <%= form_tag do  %>
      <!--  <form class="form-signin">
      -->   <!-- <input type="text" class="form-control" placeholder="Username" required autofocus>
         --> <%= text_field_tag :name,params[:name], placeholder: 'Username', class: 'form-control',required: true %>
          <%= password_field_tag :password_digest,params[:password],placeholder: 'Password',class: 'form-control',required: true %>
         <!-- <input type="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>-->
          <%= submit_tag "Login",class: 'btn btn-lg btn-primary btn-block' %>
     <!--     <label class="checkbox pull-left">
            &lt;!&ndash;<input type="checkbox" value="remember-me">&ndash;&gt;
            Remember me
          </label>-->
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
       <!-- </form>
       --> <% end %>
      </div>
      <a href="#" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>