
<%if !@cart.line_items.empty? %>


  <ul class="list-group">
    <% @cart.line_items.each do |item| %>
        <li class="list-group-item"><%= item.quantity %>&times;<%= item.product.title %></li>
    <% end %>
  </ul>


  <ul class="list-group">

    <% if !@cart.line_items.empty? %>
        <li class="list-group-item" style="color: red;">Total <%= number_to_currency (@cart.total_price) %></li>
    <% end%>


  </ul>
<table>
  <tr>
    <th><%= button_to 'Checkout',new_order_path,method: :get,class: 'btn btn-success' %></th>
    <th> <%= button_to 'Empty Cart',@cart,method: :delete,confirm: 'Are you sure?',class: 'btn btn-danger' %></th>
  </tr>
</table>

</div>

<% end %>
