<p id="notice"><%= notice %></p>



<br>



<div class="container">
  <div class="row">

    <% @products.each do |product| %>

        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency product.price %></h4>
              <h4><a href="#"><%=link_to product.title, product %></a>
              </h4>
              <p><%=truncate( product.description, length: 100) %> <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            </div>
            <a href="#" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> Bootstrap Button</a>
            <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>
    <% end %>


  </div>

</div>
<%= link_to 'New Product', new_product_path %>