<p id="notice"><%= notice %></p>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
      <h4 class="pull-right"><%= number_to_currency @product.price %></h4>
      <h4><a href="#"><%= @product.title %></a>
      </h4>
      <p><%= @product.description %> <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
    </div>
    <a href="#" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> Bootstrap Button</a>
    <div class="ratings">
      <p class="pull-right">15 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
    </div>
  </div>
  <%= render 'layouts/disqus'%>
</div>
</br>
<hr>



