$('#cart').html("<%=j render 'carts/cart' %>");
$('#carts').html("<%= @cart.line_items.count%>");

$('.list-group-item').css({'background-color':'#f5f5f5'}).
animate({'background-color':'#FFFFFF'}, 1000);