<p id="notice"><%= notice %></p>


<!--
<h1><%=session[:counter] %></h1>
-->

<br>



<div class="container">
  <div class="row">

    <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency product.price %></h4>
              <h4><a href="#"><%= product.title %></a>
              </h4>
              <p><%= truncate(product.description,length: 100) %> <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            </div>
         <%= button_to 'Add to Cart',line_items_path(product_id: product),class: 'btn btn-warning btn-sm', remote: true %>

            <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>
    <% end %>


  </div>

</div>